.done-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-control {
        display: flex;
        gap: 5px;
        flex-direction: column;
        height: fit-content;

        &-btns {
            margin-top: 20px;
            padding: 20px 10px;
            display: flex;
            justify-content: center;
            gap: 10px;

            &-back,
            &-continue  {
                border-radius: 1rem;
                padding: 5px;
                border: 1px solid transparent;
            }

            &-back {
                width: 30%;
                padding: 0 10px;
                background-image: url("./../../../../assets/media/arrow.png");
                background-size: 15px;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0.7;
                background-color: #e5e5e5;

                &:hover,
                &:focus {
                    opacity: 1;
                }
            }

            &-continue {
                display: block;
                background-color: #2792db;
                color: white;
                text-decoration: none;
                padding: 5px 10px;
                text-align: center;
                border-radius: 1rem;
                width: 70%;
                font-weight: bold;
                opacity: 0.7;
                text-overflow: ellipsis;
                overflow: hidden;

                &:hover,
                &:focus {
                    opacity: 1;
                }
            }
        }
    }
}