* {
  user-select: none;
  -moz-user-select: none;
}

:root {
  color-scheme: dark light;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: fit-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::placeholder {
  opacity: 0.5;
  text-align: justify;
}

textarea.error,
input.error {
  border-color: rgb(255, 96, 109) !important;
  outline-color: rgb(255, 96, 109) !important;
}

textarea.ok,
input.ok {
  border-color: rgb(0, 194, 116) !important;
  outline-color:rgb(0, 194, 116) !important;
}

.popup-box {
  position: fixed;
  left:0;
  top:0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
  backdrop-filter: blur(12px);
}

.disabled {
  opacity: 0.2;
}

span.fs-6 {
  font-size: 12px !important;
}

h1 {
  font-size: 2.5rem !important; 
}

div.loading-spinner {
  margin: 0 auto !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  min-height: 100% !important;
  height: 100% !important;
  width: 100% !important; 
  text-align: center !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  position: fixed !important;
  top:0;
  left:0;
  backdrop-filter: blur(16px);
  z-index: 1000;

  > span {
      width: 60px !important;
      height: 60px !important;
      display: block !important;
      margin: auto !important;
      border: 5px dashed rgb(53, 35, 255) !important;
      border-radius: 100% !important;
      background-color: transparent !important;

      animation-name: waiting;
      animation-duration: 1s;
      animation-iteration-count: infinite;
  }
}

@keyframes waiting {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #121212 !important;
    color: #efefef;
  }

  .App, #root {
    background-color: #121212;
    color: #efefef;
  }

  body > * {
    background-color: #121212;
    color: #efefef;
  }

  div.card {
    background-color: #333;
    color: #efefef;
    box-shadow: 0 0 5px 0.5px rgba(255, 255, 255, 0.393) !important;
  }

  textarea, input {
    border: 1px solid #d2d2d2 !important;
    border-radius: 0.3rem;
    background-color: #222;
    color: #efefef;

    &:focus, &:hover {
        outline-color: #6a00ff;
    }
  }

  .popup-box > * {
    background-color: #333;
    color: #efefef;
  }

  textarea.ok,
  input.ok,
  textarea.error,
  input.error  {
    background-color: #222;
  }


  div.loading-spinner {
    > span {
      border: 5px dashed rgb(212, 255, 0) !important;
    }
  }

  span.fs-6 {
    background-color: #222;
  } 
  
  
  .border-info.text-info {
    color: #d887fe !important;
    border-color: #ba81f0af !important;
    background-color: #7d0ab66a !important;
    vertical-align: middle;
    padding: 3px 10px !important;
    height: fit-content !important;
  }
}

@media (prefers-color-scheme: light) {
  html, body {
    background-color: #fff!important;
    color: #333;
  }

  .App, #root {
    background-color: #fff;
    color: #333;
  }

  body > * {
    background-color: #fff;
    color: #333;
  }

  div.card {
    background-color: fff;
    color: #333;
    box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.17) !important;
  }

  textarea, input {
    border: 1px solid #d2d2d2 !important;
    border-radius: 0.3rem;
    background-color: rgba(234, 234, 234, 0.213);
    color: #333;
  
    &:focus, &:hover {
        outline-color: #6a00ff;
    }
  }

  .popup-box > * {
    background-color: white;
    color: #333;
  }

  textarea.ok,
  input.ok,
  textarea.error,
  input.error  {
    background-color: rgba(234, 234, 234, 0.213);
  }

  span.fs-6 {
    background-color: #d2d2d285;
  }  


  .border-info.text-info {
    color: #8e08cb !important;
    border-color: #ba81f0af !important;
    background-color: #f0d1ff6a !important;
    vertical-align: middle;
    padding: 3px 10px !important;
    height: fit-content !important;
  }
}

.btn-primary {
  background-color: #5a46dbad !important;
  border:none !important;

  &:hover, &:focus {
    background-color: #5a46db !important;
  }
}

.btn-secondary {
  background-color: transparent !important;
  color: #5a46dbad !important;
  border-color: #5a46dbad !important;

  &:hover, &:focus {
    color: #5a46db !important;
  }
}

.btn-sm {
  width: fit-content !important;
}
