* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  color: #333;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #eaeaea33;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
