.nav {
    height: fit-content;
    margin-top: 30px;

    > nav > ul {
        gap: 30px;

        > li {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;

            > p {
                text-align: center;
                padding: 10px;
            }


            > a {
                display: block;
                width: fit-content;
                min-width: 150px;
                color: white;
                font-weight: bold;
                opacity: 0.7;
                text-overflow: ellipsis;
                overflow: hidden;
                text-decoration: none;
                padding: 20px 10px;
                text-align: center;
                border-radius: 1rem;
                margin: 0 auto;

                &:hover,
                &:focus {
                    opacity: 1;
                }
            }

           
        }

        > li:nth-of-type(1) > a {
            background-color: #2792db55;
            color:  #073351;
        }
        > li:nth-of-type(2) > a {
            background-color: #27db8155;
            color:  #044b2e;
        }
    }

    > span {
        font-size: 0.7rem;
        text-align: center;
        display: block;
        margin-top: 40px;
    }
}


@media (orientation: portrait) {
    .nav {
        > nav > ul {
            list-style: none;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
        }
    }
}

@media (orientation: landscape) {
    .nav {
        > nav > ul {
            list-style: none;
            display: flex;
            justify-content: center;
        }
    }
}
